<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2021 OpenSynergy Indonesia
     Copyright 2021 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). -->
<openerp>
    <data>

    <menuitem
        id="menu_dev_root"
        name="Development"
        sequence="1"
    />
    <menuitem
        id="menu_development"
        name="Development"
        parent="menu_dev_root"
        sequence="1"
    />
    <menuitem
        id="menu_development_config"
        name="Configuration"
        parent="menu_dev_root"
        sequence="2"
    />

    </data>
</openerp>
